<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfXvWEJtr1j09sJVkJWMiKwwSpnm63uQI</string>
	<key>GCM_SENDER_ID</key>
	<string>815166244171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mclUser</string>
	<key>PROJECT_ID</key>
	<string>mcla-51bb1</string>
	<key>STORAGE_BUCKET</key>
	<string>mcla-51bb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815166244171:ios:b4878a550fe4e39e8b14ce</string>
</dict>
</plist>